*This project has a large file size*

Follow these instructions to use LFS on GitHub
1. git lfs install
2. git lfs track 'data/yelp-reviews.csv'
3. git add .gitattributes
4. git add data/yelp-reviews.csv
5. git commit -m "Adding Large File Support"
6. git push origin main

In [2]:
import nltk
# nltk.download('punkt')
# nltk.download('stopwords')
# nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\erwin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\erwin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\erwin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### **Load Data**

In [1]:
import pandas as pd

# Load the data
def load_data(file_path):
    df = pd.read_csv(file_path)
    
    return df

file_path = 'data/yelp-reviews.csv'
df = load_data(file_path)
df.head()

,business_id,review_id,date,text,stars,language
0,gGaF0TtGRx1QOFe0EzuZLg,8W3g9ykr8aGGZMMdVbNPKA,2015-01-01 00:01:02,Lynn and Montecito flowers are simply the best...,5,en
1,2CqQ3Tnvj7h0rw84WEEjMw,q10HcbeBRtcvsN7WC02fFw,2015-01-01 00:15:12,Love this place! Always loved the food as they...,5,en
2,lOa1BVmTcbPpu05h3OPAQA,dXOY5UqXhcCQ6f9S-kRc2w,2015-01-01 00:19:36,We stayed here last weekend with our dog. Its ...,5,en
3,QFh-h_OZ5Io-mBk32HN28A,8mWVoTXecEkRXTvPONYFuw,2015-01-01 00:20:23,Came here for a quick bite and got the thai sa...,2,en
4,cAbdvzqtFLaAAMFIyPf2AA,Xr5KEchLr-jvQiAZm1mtNA,2015-01-01 00:47:19,Finally was able to try lunch at Holdren's. M...,2,en

### **EDA**

In [8]:
# EDA
def perform_eda(df):
    missing_values = df.isna().sum()
    
    print(f'Number of missing values:L {missing_values}\n')
    
perform_eda(df)
df.info()

Number of missing values:L business_id    0
review_id      0
date           0
text           0
stars          0
language       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150374 entries, 0 to 150373
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  150374 non-null  object
 1   review_id    150374 non-null  object
 2   date         150374 non-null  object
 3   text         150374 non-null  object
 4   stars        150374 non-null  int64
 5   language     150374 non-null  object
dtypes: int64(1), object(5)
memory usage: 6.9+ MB

In [9]:
# Summary Statistics
statistics = df.describe().T
print('Summary Statistics')
statistics

Summary Statistics

          count      mean       std  min  25%  50%  75%  max
stars  150374.0  4.006045  1.415824  1.0  3.0  5.0  5.0  5.0

### **Data Visualization**

### **Feature Engineering**

### **Time Series Preprocessing**

### **Time Series Analysis**

### **VADER**

### **Naive Bayes**